<span [ngSwitch]="type.toLowerCase()">

<app-paraglider-form *ngSwitchCase="'paraglider'" [brandName]="brand" [editModel]="model" [edit]="true"></app-paraglider-form>
<app-harness-form *ngSwitchCase="'harness'" [brandName]="brand" [editModel]="model" [edit]="true"></app-harness-form>
<app-reserve-form *ngSwitchCase="'reserve'" [brandName]="brand" [editModel]="model" [edit]="true"></app-reserve-form>
<app-accessory-form *ngSwitchCase="'accessory'" [brandName]="brand" [editModel]="model" [edit]="true"></app-accessory-form>

<!-- <p *ngSwitchDefault>
    default
</p> -->
</span>
