<header>
    <nav>
        <ul class="menu" [ngClass]="{'active': showMobileMenu}">
            <ng-container *ngIf="isUserLogged; then loggedInTemplate; else loggedOutTemplate"></ng-container>
        </ul>
    </nav>
</header>

<ng-template #loggedInTemplate>
    <li class="logo"><a href="#">ParaInfo</a></li>
    <li class="item"><a href="#">Home</a></li>
    <li class="item"><a href="#">Welcome {{ username }}</a></li>
    <li class="item button"><a (click)="logout()">Logout</a></li>
    <li class="toggle"><a (click)="toggleMobileMenu()"><i class="fas" [ngClass]="showMobileMenu ? 'fa-times' : 'fa-bars'"></i></a></li>
</ng-template>

<ng-template #loggedOutTemplate>
        <li class="logo"><a href="">ParaInfo</a></li>
        <li class="item"><a href="">Home</a></li>
        <li class="item"><a href="">About</a></li>
        <li class="item button"><a [routerLink]="['/login']">Log In</a></li>
        <li class="item button secondary"><a [routerLink]="['/register']">Register</a></li>
        <li class="toggle"><a (click)="toggleMobileMenu()"><i class="fas" [ngClass]="showMobileMenu ? 'fa-times' : 'fa-bars'"></i></a></li>
</ng-template>