<section>
    <article>
        <form [formGroup]="createReserveForm">
            <div class="header">
                <div class="item-container">
                    <h1>Brand: {{brandName}}</h1>
                </div>
                <div class="item-container">
                    <span class="span-error"
                        *ngIf="createReserveForm.controls.model?.errors?.modelAlreadyExists">this model Already
                        Exists </span>
                    <label for="model">Model</label>

                    <input name="model"
                        [ngClass]="{'input-err': createReserveForm.controls.model.invalid && createReserveForm.controls.model.touched}"
                        type="text" formControlName="model" maxlength="31">
                </div>
                <div class="file-container">
                    <input class="file-input" id="actual-btn-file" (change)="onFileChange($event)" type="file" hidden accept=".png, .jpg, .jpeg, .gif">

                    <span class="span-error" *ngIf="createReserveForm.controls.file?.errors?.required">Img Is
                        Required</span>
                    <span class="span-error" *ngIf="createReserveForm.controls.file?.errors?.wrongFileType">Wrong
                        Image Extension</span>
                    <span class="span-error" *ngIf="createReserveForm.controls.file?.errors?.wrongFileSize">Max File
                        Size 2Mb</span>

                    <span id="file-chosen">{{createReserveForm.controls.file.value.name || "File Name" }}</span>
                    <label class="file-label" for="actual-btn-file">Choose Img</label>

                </div>
                <div class="item-container">
                    <label for="price">Price (Euro)</label>
                    <input type="text" name="price"
                        [ngClass]="{'input-err': createReserveForm.controls.price.invalid && createReserveForm.controls.price.touched}"
                        formControlName="price" maxlength="21">
                </div>
            </div>
            <div class="description">
                <label for="description">Description</label>
                <textarea name="description" rows="10 " maxlength="1000" formControlName="description"></textarea>
            </div>
            <div class="body" formArrayName="sizes">
                <div class="groups">
                    <div class="item-container">
                        <label for="size">Size</label>
                    </div>
                    <div class="item-container">
                        <label for="area">Area</label>
                    </div>

                    <div class="item-container">
                        <label for="MaxTow">Max Tow</label>
                    </div>

                    <div class="item-container">
                        <label for="srAtMax">Sr At Max</label>
                    </div>

                    <div class="item-container">
                        <label for="weight">Weight</label>
                    </div>

                    <div class="item-container">
                        <label for="packingVol">Packing Vol</label>
                    </div>
                    
                    <div class="item-container">
                        <label for="certification">Certification</label>
                    </div>
                </div>
                <div class="groups" *ngFor="let group of sizeArray.controls; let i=index" [formGroupName]="i">
                    <div class="item-container">
                        <input type="text" [ngClass]="{'input-err': getControl(group,'size').invalid}"
                            formControlName="size">
                    </div>

                    <div class="item-container">
                        <input type="text" [ngClass]="{'input-err': getControl(group,'area').invalid}"
                            formControlName="area">
                    </div>

                    <div class="item-container">
                        <input type="text" [ngClass]="{'input-err': getControl(group,'maxTow').invalid}"
                            formControlName="maxTow">
                    </div>

                    <div class="item-container">
                        <input type="text" [ngClass]="{'input-err': getControl(group,'srAtMax').invalid}"
                            formControlName="srAtMax">
                    </div>

                    <div class="item-container">
                        <input type="text" [ngClass]="{'input-err': getControl(group,'weight').invalid}"
                            formControlName="weight">
                    </div>

                    <div class="item-container">
                        <input type="text" [ngClass]="{'input-err': getControl(group,'packingVol').invalid}"
                            formControlName="packingVol">
                    </div>

                    <div class="item-container">
                        <input type="text" [ngClass]="{'input-err': getControl(group,'certification').invalid}"
                            formControlName="certification">
                    </div>
                    <button class="remove-button" (click)="removeSize(i)"><i class="fas fa-minus-circle"></i></button>
                </div>
                <button class="add-button" (click)="addSize()"><i class="fas fa-plus-circle"></i></button>
            </div>
            <ng-container *ngIf="edit; else elseTemplate">
                <button class="submit-button" (click)="updateReserve()">Update Paraglider</button>
            </ng-container>
            <ng-template #elseTemplate>
                <button class="submit-button" (click)="createReserve()">Create Paraglider</button>
            </ng-template>
        </form>
    </article>
</section>