section.header {
    width: 90%;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


img.cover-photo {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 650px;
    object-fit: cover;
}

section.header article.menu{
    margin: 100px 0 0 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

section.header article.menu h2{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;
}

section.header article.menu div ul {
    display:flex;
    flex-direction: column;
    max-height: 350px;
    scrollbar-width: none;
    overflow: auto;
}

section.header article.menu div ul li{
    padding: 10px 20px;
    list-style: none;
    text-align: center;
}

section.header article.menu div ul li a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

section.header article.menu div ul li a:hover{
    color: gray;
    font-weight: bolder;
    text-decoration: none;
}

section.viewed-brands{
    background: lightgrey;
    margin: 349px 0 0 0;
}

section.viewed-brands h1 {
    text-align: center;
    padding: 20px;
}

section.viewed-paragliders h1{
    text-align: center;
    padding: 20px;
}

