<section class="header">
    <img class="cover-photo" src="../../../assets/images/HomeOpening.jpg">
    <article class="menu one">
        <h2>Brands</h2>
        <div class="brands">
            <ul *ngFor="let brand of brands">
                <li class="item"><a routerLink="/brand/{{brand.name}}">{{brand.name}}</a></li>
            </ul>
        </div>
    </article>
    <article class="menu two">
        <h2>Equitment</h2>
        <div class="equitment">
            <ul>
                <li><a href="#">Paraglider</a></li>
                <li><a href="#">Paramotor</a></li>
                <li><a href="#">SpeedWings</a></li>
                <li><a href="#">Reservs</a></li>
                <li><a href="#">Harnesses</a></li>
                <li><a href="#">Carabiners</a></li>
                <li><a href="#">MiniWings</a></li>
                <li><a href="#">Stuff</a></li>
                <li><a href="#">Stuff</a></li>
                <li><a href="#">Stuff</a></li>
            </ul>
        </div>
    </article>

</section>
