section header h1{
    text-align: center;
    margin: 20px;
    font-size: 40px;
}

section header a{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    background: white;
    color: black;
    font-weight: bold;
    border: 2px solid black;
}

section header a:hover{
    background: black;
    color: white;
}