section {
    display: flex;
    flex-direction: column;
}

section h1{
    color: white;
    text-align: center;
    font-size: 50px;
    height: 250px;
    padding: 100px 0;
}

section img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.hide{
    display: none;
}

.closable-tab  {
    width: 100%;
    display: inline-block;
    background-color: black;
    padding: 20px;
    color: white;
    font-weight: bold;
}

.closable-tab .details{
    float: left;
}

.closable-tab a{
    float: right;
}

div.to-hide p{
    display: inline-block;
}