<form [formGroup]="createBrandForm" (ngSubmit)="createBrand()">
    <h1>Create Brand</h1>
    <div>
        <span *ngIf="name?.touched && name?.errors?.required"  class="Error">Brand name is Required! </span>
        <label for="brand-name">Brand Name</label>
        <input type="text" name="brand-name" formControlName="name">
        <label for="brand-img">Brand Image Url</label>
        <input type="text" name="brand-img" formControlName="imgUrl">
        <label for="brand-description">Brand Description</label>
        <textarea formControlName="description" name="brand-description" maxlength="1000" cols="30" rows="10"></textarea>
    </div>
    <button type="submit" >Create Brand</button>
</form>