<app-product-header [brandName]="brand"></app-product-header>
<span [ngSwitch]="type.toLowerCase()">
    <app-paraglider-details *ngSwitchCase='"paraglider"' [brand]="brand" [model]="model"></app-paraglider-details>
    <app-harness-details *ngSwitchCase='"harness"' [brand]="brand" [model]="model"></app-harness-details>
    <app-reserve-details *ngSwitchCase='"reserve"' [brand]="brand" [model]="model"></app-reserve-details>
    <app-accessory-details *ngSwitchCase='"accessory"' [brand]="brand" [model]="model"></app-accessory-details>
</span>