<section>
    <article>
        <form [formGroup]="createAccessoryForm">
            <div class="header">
                <div class="item-container">
                    <h1>Brand: {{brandName}}</h1>
                </div>
                <div class="item-container">
                    <span class="span-error"
                        *ngIf="createAccessoryForm.controls.model?.errors?.modelAlreadyExists">this model Already
                        Exists </span>
                    <label for="model">Model</label>

                    <input name="model"
                        [ngClass]="{'input-err': createAccessoryForm.controls.model.invalid && createAccessoryForm.controls.model.touched}"
                        type="text" formControlName="model" maxlength="31">
                </div>
                <div class="file-container">
                    <input class="file-input" id="actual-btn-file" (change)="onFileChange($event)" type="file" hidden accept=".png, .jpg, .jpeg, .gif">

                    <span class="span-error" *ngIf="createAccessoryForm.controls.file?.errors?.required">Img Is
                        Required</span>
                    <span class="span-error" *ngIf="createAccessoryForm.controls.file?.errors?.wrongFileType">Wrong
                        Image Extension</span>
                    <span class="span-error" *ngIf="createAccessoryForm.controls.file?.errors?.wrongFileSize">Max File
                        Size 2Mb</span>

                    <span id="file-chosen">{{createAccessoryForm.controls.file.value.name || "File Name" }}</span>
                    <label class="file-label" for="actual-btn-file">Choose Img</label>

                </div>
                <div class="item-container">
                    <label for="price">Price (Euro)</label>
                    <input type="text" name="price"
                        [ngClass]="{'input-err': createAccessoryForm.controls.price.invalid && createAccessoryForm.controls.price.touched}"
                        formControlName="price" maxlength="21">
                </div>
            </div>
            <div class="description">
                <label for="description">Description</label>
                <textarea name="description" rows="10 " maxlength="1000" formControlName="description"></textarea>
            </div>
            <ng-container *ngIf="edit; else elseTemplate">
                <button class="submit-button" (click)="updateAccessory()">Update Paraglider</button>
            </ng-container>
            <ng-template #elseTemplate>
                <button class="submit-button" (click)="createAccessory()">Create Paraglider</button>
            </ng-template>
        </form>
    </article>
</section>