<section>

    <article>
        <form [formGroup]="createParagliderForm">
            <div class="header">
                <div class="item-container">
                    <h1>Brand: {{brandName}}</h1>
                </div>
                <div class="item-container">
                    <span class="span-error"
                        *ngIf="createParagliderForm.controls.model?.errors?.modelAlreadyExists">this model Already
                        Exists </span>
                    <label for="model">Model</label>

                    <input name="model"
                        [ngClass]="{'input-err': createParagliderForm.controls.model.invalid && createParagliderForm.controls.model.touched}"
                        type="text" formControlName="model" maxlength="31">
                </div>
                <div class="file-container">
                    <input class="file-input" id="actual-btn" (change)="onFileChange($event)" type="file" formControlName="file" hidden accept=".png, .jpg, .jpeg, .gif">
                    
                    <!-- name of file chosen -->
                    <span class="span-error" *ngIf="createParagliderForm.controls.file?.errors?.required">Img Is Required</span>
                    <span class="span-error" *ngIf="createParagliderForm.controls.file?.errors?.wrongFileType">Wrong Image Extension</span>
                    <span class="span-error" *ngIf="createParagliderForm.controls.file?.errors?.wrongFileSize">Max File Size 2Mb</span>
                    
                    <span id="file-chosen" (click)="log(createParagliderForm.controls.file)" >{{createParagliderForm.controls.file.value.name || "File Name" }}</span>
                    <!-- our custom upload button -->
                    <label class="file-label" for="actual-btn">Choose Img</label>

                </div>
                <div class="item-container">
                    <label for="price">Price (Euro)</label>
                    <input type="text" name="price"
                        [ngClass]="{'input-err': createParagliderForm.controls.price.invalid && createParagliderForm.controls.price.touched}"
                        formControlName="price" maxlength="21">
                </div>
            </div>
            <div class="body" formArrayName="sizes">
                <div class="groups">
                    <div class="item-container">
                        <label for="wingSize">WingSize</label>
                    </div>

                    <div>
                        <div class="item-container">
                            <label for="area">Flat Area(m²)</label>
                        </div>
                        <div class="item-container">
                            <label for="span">Flat Span(m)</label>
                        </div>
                        <div class="item-container">
                            <label for="aspectRatio">Flat AspectRatio</label>
                        </div>
                    </div>

                    <div>
                        <div class="item-container">
                            <label for="area">Proj Area(m²)</label>
                        </div>
                        <div class="item-container">
                            <label for="span">Proj Span(m)</label>
                        </div>
                        <div class="item-container">
                            <label for="aspectRatio">Proj AspectRatio</label>
                        </div>
                    </div>

                    <div class="item-container">
                        <label for="flattening">Flattening(%)</label>
                    </div>

                    <div class="item-container">
                        <label for="upperSurface">Upper Surface(type)</label>
                    </div>

                    <div class="item-container">
                        <label for="underSurface">Under Surface(type)</label>
                    </div>

                    <div class="item-container">
                        <label for="numberCells">Number Cells</label>
                    </div>

                    <div class="item-container">
                        <label for="weight">Weight(kg)</label>
                    </div>

                    <div class="item-container">
                        <label for="risers">Risers(lines)</label>
                    </div>

                    <div class="item-container">
                        <label for="nakedPilot">NakedPilot(kg)</label>
                    </div>

                    <div class="item-container">
                        <label for="inflightWeight">Inflight Weight(kg)</label>
                    </div>

                    <div class="item-container">
                        <label for="wingLoading">WingLoading(kg/m²)</label>
                    </div>

                    <div class="item-container">
                        <label for="minSpeed">MinSpeed(km/h)</label>
                    </div>

                    <div class="item-container">
                        <label for="trimSpeed">TrimSpeed(km/h)</label>
                    </div>

                    <div class="item-container">
                        <label for="maxSpeed">MaxSpeed(km/h)</label>
                    </div>

                    <div class="item-container">
                        <label for="minSinkRate">Min SinkRate(m/s)</label>
                    </div>

                    <div class="item-container">
                        <label for="certification">Certification</label>
                    </div>
                </div>
                <div class="groups" *ngFor="let group of sizeArray.controls; let i=index" [formGroupName]="i">
                    <div class="item-container">
                        <input type="text" [ngClass]="{'input-err': getControl(group,'wingSize').invalid}"
                            formControlName="wingSize">
                    </div>

                    <div formGroupName="flat">
                        <div class="item-container">
                            <input type="text" [ngClass]="{'input-err': getControl(group,'flat').controls.area.invalid}"
                                formControlName="area">
                        </div>
                        <div class="item-container">
                            <input type="text" [ngClass]="{'input-err': getControl(group,'flat').controls.span.invalid}"
                                formControlName="span">
                        </div>
                        <div class="item-container">
                            <input type="text"
                                [ngClass]="{'input-err': getControl(group,'flat').controls.aspectRatio.invalid}"
                                formControlName="aspectRatio">
                        </div>
                    </div>

                    <div formGroupName="proj">
                        <div class="item-container">
                            <input type="text" [ngClass]="{'input-err': getControl(group,'proj').controls.area.invalid}"
                                formControlName="area">
                        </div>
                        <div class="item-container">
                            <input type="text" [ngClass]="{'input-err': getControl(group,'proj').controls.span.invalid}"
                                formControlName="span">
                        </div>
                        <div class="item-container">
                            <input type="text"
                                [ngClass]="{'input-err': getControl(group,'proj').controls.aspectRatio.invalid}"
                                formControlName="aspectRatio">
                        </div>
                    </div>

                    <div class="item-container">
                        <input type="text" [ngClass]="{'input-err': getControl(group,'flattening').invalid}"
                            formControlName="flattening">
                    </div>

                    <div class="item-container">
                        <input type="text" [ngClass]="{'input-err': getControl(group,'upperSurface').invalid}"
                            formControlName="upperSurface">
                    </div>

                    <div class="item-container">
                        <input type="text" [ngClass]="{'input-err': getControl(group,'underSurface').invalid}"
                            formControlName="underSurface">
                    </div>

                    <div class="item-container">
                        <input type="text" [ngClass]="{'input-err': getControl(group,'numberCells').invalid}"
                            formControlName="numberCells">
                    </div>

                    <div class="item-container">
                        <input type="text" [ngClass]="{'input-err': getControl(group,'weight').invalid}"
                            formControlName="weight">
                    </div>

                    <div class="item-container">
                        <input type="text" [ngClass]="{'input-err': getControl(group,'risers').invalid}"
                            formControlName="risers">
                    </div>

                    <div class="item-container">
                        <input type="text" [ngClass]="{'input-err': getControl(group,'nakedPilot').invalid}"
                            formControlName="nakedPilot">
                    </div>

                    <div class="item-container">
                        <input type="text" [ngClass]="{'input-err': getControl(group,'inflightWeight').invalid}"
                            formControlName="inflightWeight">
                    </div>

                    <div class="item-container">
                        <input type="text" [ngClass]="{'input-err': getControl(group,'wingLoading').invalid}"
                            formControlName="wingLoading">
                    </div>

                    <div class="item-container">
                        <input type="text" [ngClass]="{'input-err': getControl(group,'minSpeed').invalid}"
                            formControlName="minSpeed">
                    </div>

                    <div class="item-container">
                        <input type="text" [ngClass]="{'input-err': getControl(group,'trimSpeed').invalid}"
                            formControlName="trimSpeed">
                    </div>

                    <div class="item-container">
                        <input type="text" [ngClass]="{'input-err': getControl(group,'maxSpeed').invalid}"
                            formControlName="maxSpeed">
                    </div>

                    <div class="item-container">
                        <input type="text" [ngClass]="{'input-err': getControl(group,'minSinkRate').invalid}"
                            formControlName="minSinkRate">
                    </div>

                    <div class="item-container">
                        <input type="text" [ngClass]="{'input-err': getControl(group,'certification').invalid}"
                            formControlName="certification">
                    </div>

                    <button class="remove-button" (click)="removeSize(i)"><i class="fas fa-minus-circle"></i></button>
                </div>
                <button class="add-button" (click)="addSize()"><i class="fas fa-plus-circle"></i></button>
            </div>
            <button class="submit-button" (click)="createParaglider()">Create Paraglider</button>
        </form>
    </article>

</section>