section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px 10px;
}

.card {
    width: calc(100% / 5);
    min-width: 300px;
    min-height: 350px;
    border: 3px solid black;
    border-radius: 10px;
    box-sizing: border-box;

}

.card-content {
    overflow: hidden;
}

.card-content h3 {
    text-align: center;
    padding: 5px 0;
    overflow: hidden;
    overflow: hidden;
    white-space: nowrap;
}



.card-img {
    max-width: 100%;
    height: calc(100% - 32px);
    border-radius: 5px;
    object-fit: cover;
}